.ticker {
    overflow: hidden;
    font-family: sans-serif;
}

.ticker-tip {
    /*width: 100%;*/
    /*padding: 6px 0;*/
    margin-left: 10vw;
    box-shadow: inset 0 -3px 3px rgba(255, 255, 255, 0.5);
    background-color: #0d5171;
    color: #ffffff;
    -webkit-transform: skew(-45deg, 0);
    transform: skew(-45deg, 0);
}

.ticker-tip-info {
    margin-left: 50px;
    position: relative;
    -webkit-transform: skew(45deg, 0);
    transform: skew(45deg, 0);
}

.ticker-title {
    width: 2500px;
    margin-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: 0 0 2px #6d4406;
    background: linear-gradient(135deg, #0c2a38 0%, #123a50 11%, #105d5f 24%);
    /* W3C */
}

.ticker-title > * {
    display: inline-block;
    margin-right: 50px;
    -webkit-animation: title 30s infinite linear;
    animation: title 30s infinite linear;
}

@-webkit-keyframes title {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-233px);
        transform: translateX(-233px);
    }
}

@keyframes title {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-233px);
        transform: translateX(-233px);
    }
}
.ticker-news {
    width: 7000px;
    padding: 10px 0;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 0 0 5px black;
    background: linear-gradient(135deg, #0f3645 0%, #124289 11%, #2ea6cb 29%);
    /* W3C */
    overflow: hidden;
    white-space: nowrap;
}

.ticker-news > * {
    display: inline-block;
    /*-webkit-animation: news 5s infinite linear;*/
    animation: news 80s infinite linear;
}

@-webkit-keyframes news {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-8000px);
        transform: translateX(-8000px);
    }
}

@keyframes news {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-8000px);
        transform: translateX(-8000px);
    }
}
