/*FONTS-FAMILY*/
@font-face
{
    font-family: 'Robo';
    src: url('../vendor/fonts/bebas.ttf') format('truetype');
}

@font-face
{
    font-family: 'Alarm';
    src: url('../vendor/fonts/alarm.ttf') format('truetype');
}

@font-face
{
    font-family: 'bebas';
    src: url('../vendor/fonts/Robo.ttf') format('truetype');
}

/*HTML TAGS*/
html {
    background-image: url('../images/globals/1768585.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1 {
    color: white;
}

a {
    outline: none;
}

/*thead {*/
/*    background-color: rgba(100, 149, 237, 0.85);*/
/*}*/

blockquote {
    border-color: white;
}

iframe {
    border: inherit;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

/*GLOBAL*/
#logo {
    background: url(../images/globals/logo_brut.png) no-repeat center;
    width: 45px;
    height: 45px;
    background-size: contain;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    padding : inherit;
}

#facebookLogo {
    margin-top: 8px;
}

#facebookSide {
    background-size: contain;
    background: url('../images/globals/facebook.png') no-repeat center;
}

#closeCookies {
    cursor: pointer;
    background-color: transparent;
    border: inherit;
}

#subscribeBannerMessage {
    background: linear-gradient(135deg, #42200e 0%, #4e3111 11%, #634613 24%, #997919 30%);
}

.side-items:hover {
    background-color: rgba(130, 129, 129, 0.49);
}

.cookies{
    bottom: -10px;
    position: fixed;
    height:80px;
    background: rgba(59, 58, 58, 0.85);
    width: 100%;
    padding: 20px;
    animation: animate-up .8s, fade-in 1s;
}

.material-close {
    background-color: rgba(191, 161, 16, 0.86);
}

@keyframes animate-up{
    0% {
        transform: translateY(70px);
        animation-timing-function: cubic-bezier(.200, -.461, .355, 1.6);
    }
    100% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(.55, .055, .675, .1);
    }
}
