/*ID*/
#chat {
    height: 60vh;
    overflow: scroll;
}

#playersLine {
    width: 100vw;
    overflow: auto;
    white-space: nowrap;
}

/*CLASSES*/
.message {
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.messageUser {
    background-color: #609af3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.authorMessage {
    padding: 3px !important;
}

.playersBlock {
    display: inline-block;
}
